@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
:root{
    --primary:#3dcfd3;
    --dark:#161616;
    --gray:rgb(85, 85, 85);
    --light:#FFFFFF;
    --ternary:#F5F5F5;
    --linkedin:#0A66C2;
    --twitter:#00acee;
}
body{
    /* background-color: #0a0dc2; */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
/* navbar-section */
#navbar{
    width: 100%;
    position: fixed;
    font-family: 'Ubuntu' , sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0;
    background: url("https://static.vecteezy.com/system/resources/thumbnails/003/052/043/small/abstract-network-line-background-free-video.jpg"), no-repeat, center;
}
#navbar.sticky{
    padding: 15px 0;
    background: var(--primary);
    transition: 0.3s;
}
#navbar .name-logo{
    color: var(--light);
    font-size: 30px;
    font-weight: 600;
}
#navbar.sticky .name-logo{
    color: var(--dark);
    transition: 0.3s;
}
#navbar .menu{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
#navbar .menu a{
    color: var(--light);
    font-size: 18px;
    font-weight: 500;
}
#navbar .menu a:hover{
    color: var(--primary);
    transition: 0.3s;
}
#navbar.sticky .menu a{
    color: var(--dark);
    transition: 0.3s;
}
#navbar.sticky .logo, #navbar.sticky .menu a:hover{
    color: var(--light);
    transition: 0.3s;
}

/* navbar-resposiveness-section */
@media all and (min-width:769px) and (max-width:1029px){
    #navbar .name-logo{
        color: var(--light);
        font-size: 25px;
        font-weight: 600;
    }
    #navbar .menu a{
        color: var(--light);
        font-size: 15px;
        font-weight: 500;
    }
}
#home-section{
    width: 100%;
    height: 100vh;
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu' , sans-serif;
    min-height: 500px;
    background: url("https://static.vecteezy.com/system/resources/thumbnails/003/052/043/small/abstract-network-line-background-free-video.jpg"), no-repeat, center;
    background-attachment: fixed;
}
#home-section #home{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#home-section .home-social-media{
    width: 30px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#home-section .home-social-media a{
    width: 30px;
    height: 30px;
    background-color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
#home-section .home-github-icon{
    color: var(--dark);
}
#home-section .home-linkedin-icon{
    color: var(--linkedin);
}
#home-section .home-twitter-icon{
    color: var(--twitter);
}
#home-section .home-social-media a:hover{
    transform: scale(1.4);
    transition: 0.3s;
}

#home-section .profile-details{
    width: 50%;
}
#home-section .profile-details .text-1{
    font-size: 45px;
}
#home-section .profile-details .text-1-name{
    font-weight: 600;
    color: var(--primary);
}
#home-section .profile-details .text-2{
    font-size: 25px;
    color: var(--ternary);
    margin-top: 8px;
    margin-bottom: 15px;
}
#home-section .profile-details .text-3{
    color: var(--ternary);
    margin-bottom: 30px;
}
#home-section .profile-details .appointment-btn{
    cursor: pointer;
    color: var(--primary);
    background-color: transparent;
    border: 1.5px solid var(--primary);
    border-radius: 7px;
    padding: 12px 15px;
    font-family: 'Ubuntu' , sans-serif;
    font-size: 1rem;
    font-weight: 500;
}
#home-section .profile-details .appointment-btn:hover{
    border: none;
    color: var(--dark);
    background-color: var(--primary);
    transition: 0.3s;
}
.shivendra-image{
    width: 25%;
}
.shivendra-image>img{
    width: 100%;
}
#home_blob{
    width: 250px;
    fill: var(--primary);
}
#home_blob-image{
    width: 200px;
}
/* About Section */
#about-section{
    width: 100%;
    height: 110vh;
    font-family: 'Ubuntu' , sans-serif;
    text-align: center;
    background-color: var(--ternary);
}
#about-section .about-text-1{
    font-size: 30px;
    font-weight: 600;
}
#about-section .about-text-2{
    font-size: 20px;
    color: var(--gray);
}
#about-section .about-part-1{
    padding-top: 70px;
    margin-bottom: 75px;
}
#about-section .about-part-2{
    display: flex;
    justify-content: space-around;
    color: var(--gray);
    margin-bottom: 75px;
}
#about-section .about-part-2 .about-image{
    width: 30%;
}
#about-section .about-part-2 .about-image img{
    width: 300px;
    border-radius: 15px;
}.about-image{
background-color: #00acee;
height: 25rem;
margin-top: -20px;

}
.about-image>img{
    height: 100%;
}
#about-section .about-part-2 .about-intro{
    width: 50%;
    text-align: justify;
    margin-right: 50px;
}
#about-section .about-intro-text-2{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 65px;
    margin-bottom: 90px;
}
.about-intro-text-2 .box-1, .about-intro-text-2 .box-2, .about-intro-text-2 .box-3{
    width: 93px;
    text-align: center;
    font-size: 13px;
}
.about-intro-text-2 .box-1 .text-1, .about-intro-text-2 .box-2 .text-2, .about-intro-text-2 .box-3 .text-3{
    color: var(--dark);
    font-size: 35px;
    font-weight: 600;
}
.about-intro .resume-btn{
    cursor: pointer;
    color: var(--dark);
    background-color: var(--primary);
    border: none;
    border-radius: 7px;
    padding: 12px 15px;
    font-family: 'Ubuntu' , sans-serif;
    font-size: 1rem;
    font-weight: 500;
}
.about-intro .resume-btn:hover{
    border: 1.5px solid var(--primary);
    color: var(--primary);
    background-color: transparent;
    transition: 0.3s;
}

/* skill-section */
#skill-section{
    width: 100%;
    height: 120vh;
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Ubuntu' , sans-serif;
    min-height: 500px;
    background-color: rgb(17, 0, 255);
    background: url("https://static.vecteezy.com/system/resources/thumbnails/003/052/043/small/abstract-network-line-background-free-video.jpg"), no-repeat, center;
    background-attachment: fixed;
}
#skill-section #skill{
    width: 80%;
    height: 90vh;
}
#skill-section .skill-text-1{
    text-align: center;
    color: var(--primary);
    font-size: 30px;
    font-weight: 600;
}
#skill-section .frontend-text, #skill-section .backend-text{
    font-size: 30px;
    font-weight: 500;
    color: var(--light);
}
#skill-section .frontend-text{
    margin:20px 0px 30px 0px;
}
#skill-section .backend-text{
    margin: 40px 0px 30px 0px;
}
#skill-section .frontend-icons{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

#skill-section .frontend-icons>div>div, #skill-section .backend-icons>div>div{
    font-size: 20px;
    color: var(--primary);
    line-height: 50px;
}
#skill-section .backend-icons{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

#skill-section .frontend-icons img, #skill-section .backend-icons img{
    width: 100px;
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 5px;
    box-shadow: var(--primary) 0px 3px 8px;
    padding: 10px;
}
#skill-section .frontend-icons img:hover, #skill-section .backend-icons img:hover{
    box-shadow: var(--primary) 0px 5px 15px;
}
/* education-section */
#education-section{
    width: 100%;
    height: 100vh;
    font-family: 'Ubuntu' , sans-serif;
    text-align: center;
    background-color: var(--ternary);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark);
}
#education-section #education{
    width: 80%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#education-section .education-text-1{
    font-size: 30px;
    font-weight: 600;
}
#education-section .education-text-2{
    font-size: 20px;
    color: var(--gray);
}
#education-section .education-main{
    width: 100%;
    height: 50vh;
    text-align: left;
    display: flex;
    justify-content: space-around;
}
#education-section .education-main>div{
    display: flex;
}
#education-section .education-part-1{
    width: 40%;
    height: 250px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: var(--primary) 0px 3px 8px;
    margin-bottom: 10px;
}
#education-section .education-part-2{
    width: 40%;
    height: 250px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: var(--primary) 0px 3px 8px;
}
#education-section .education-part-1:hover{
    box-shadow: var(--primary) 0px 5px 15px;
}
#education-section .education-part-2:hover{
    box-shadow: var(--primary) 0px 5px 15px;
}
#education-section .education-part-1 .text-1, #education-section .education-part-2 .text-1{
    font-size: 25px;
    font-weight: 600;
}
#education-section .education-part-1 .text-2, #education-section .education-part-2 .text-2{
    font-size: 18px;
    font-weight: 600;
    color: rgb(50, 50, 50);
}
#education-section .education-part-1 .text-3, #education-section .education-part-2 .text-3{
    font-size: 15px;
    font-weight: 500;
    color: var(--gray);
}
#education-section .education-part-1 .text-4, #education-section .education-part-2 .text-4{
    color: var(--gray);
}    
/* project-section */
#project-section{
    width: 100%;
    height: 120vh;
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Ubuntu' , sans-serif;
    background: url("https://static.vecteezy.com/system/resources/thumbnails/003/052/043/small/abstract-network-line-background-free-video.jpg"), no-repeat, center;
    background-attachment: fixed;
}
#project-section .project-text-1{
    text-align: center;
    color: var(--primary);
    font-size: 30px;
    font-weight: 600;
}
#project-section .project-text-2{
    font-size: 20px;
}
#project-section #project{
    width: 80%;
    height: 90vh;
    margin-top: -20px;
}
#project-section .project-part-1{
    width: 100%;
    height: 75vh;
    margin-top: 30px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    box-shadow: var(--primary) 0px 3px 8px;
}
#project-section .project-part-1:hover{
    box-shadow: var(--primary) 0px 5px 15px;
}
#project-section .project-part-1-A{
    width: 55%;
}
#project-section .project-part-1-A-img img{
    width: 100%;
    height: 260px;
    background-color: var(--primary);
    opacity: 0.8;
}
#project-section .project-part-1-A-tools{
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 15px;
}
#project-section .project-part-1-A-tools img{
    width: 40px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding: 5px;
    box-shadow: var(--primary) 0px 2px 5px;
}
#project-section .project-part-1-A-tools img:hover{
    box-shadow: var(--primary) 0px 3px 8px;
}
#project-section .project-part-1-A-tools-text{
    font-size: 25px;
    color: var(--primary);
}

#project-section .project-part-1-B{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#project-section .project-part-1-B-header{
    font-size: 30px;
    color: var(--primary);
}
#project-section .project-part-1-B-desc{
    text-align: justify;
    font-size: 18px;
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#project-section .project-part-1-B-btn{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
#project-section .project-part-1-B-btn a{
    cursor: pointer;
    color: var(--primary);
    background-color: transparent;
    border: 1.5px solid var(--primary);
    border-radius: 7px;
    padding: 9px 10px;
    font-family: 'Ubuntu' , sans-serif;
    font-size: 1rem;
    font-weight: 500;
}
#project-section .project-part-1-B-btn a:hover{
    border: none;
    color: var(--dark);
    background-color: var(--primary);
    transition: 0.3s;
    width: fit-content;
    height: fit-content;
}

/* github-calender-section */
#github-calender-section{
    width: 100%;
    height: 125vh;
    font-family: 'Ubuntu' , sans-serif;
    text-align: center;
    background-color: var(--ternary);
    display: flex;
    justify-content: center;
    align-items: center;
}

#github-calender-section #github-stats{
    width: 80%;
    margin: auto;
 }

 #github-calender-section #github-stats>h1{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
 }

 #github-calender-section #gs-1{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
 }
 #github-calender-section #gs-1>p{
    border: 1px solid gray;
 }
 #github-calender-section #gsimg {
    display: block;
    margin: auto;
 }

/* contact-section */
#contact-section{
    width: 100%;
    height: 105vh;
    font-family: 'Ubuntu' , sans-serif;
    text-align: center;
    background-color: var(--ternary);
}
#contact-section .contact-text-1{
    font-size: 30px;
    font-weight: 600;
}
#contact-section .contact-text-2{
    font-size: 20px;
    color: var(--gray);
}
#contact-section .contact-part-1{
    padding-top: 70px;
    margin-bottom: 75px;
}
#contact-section .contact-part-2{
    display: flex;
    justify-content: center;
    margin-left: 25px;
}
#contact-section .contact-part-2 .contact-part-2-A{
    text-align: left;
}
#contact-section .contact-part-2 .contact-part-2-A>div{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
#contact-section .contact-part-2 .contact-part-2-A>div>i{
    font-size: 30px;
    margin-right: 10px;
}
#contact-section .contact-part-2 .contact-part-2-A .call-me-A, #contact-section .contact-part-2 .contact-part-2-A .email-A, #contact-section .contact-part-2 .contact-part-2-A .location-A{
    font-size: 20px;
    font-weight: 600;
    color: var(--dark);
}
#contact-section .contact-part-2 .contact-part-2-B{
    width: 40%;
}
#contact-section .contact-part-2 .contact-part-2-B input{
    padding: 20px 0px 20px 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    color: var(--gray);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#contact-section .contact-part-2 .contact-part-2-B input:last-child{
    padding-bottom: 50px;
}
#contact-section .contact-part-2 .contact-part-2-B input::placeholder{
    font-family: 'Ubuntu' , sans-serif;
    font-weight: 500;
}
.contact-part-2-B .name, .contact-part-2-B .email{
    width: 175px;
    height: 30px;
}
.contact-part-2-B .phone, .contact-part-2-B .message{
    width: 350px;
    height: 30px;
}
#contact-section .send-message-btn{
    width: 50%;
    cursor: pointer;
    color: var(--dark);
    background-color: var(--primary);
    border: none;
    border-radius: 7px;
    padding: 11px 13px;
    font-family: 'Ubuntu' , sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 8.2%;
}
#contact-section .send-message-btn:hover{
    border: 1.5px solid var(--primary);
    color: var(--primary);
    background-color: transparent;
    transition: 0.3s;
}
.contact-part-2-A .contact-line, .contact-part-2-A .email-line, .contact-part-2-A .location-line{
    color: var(--gray);
}

#contact-section .contact-part-3{
    width: 150px;
    height: 30px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 75px;
}
#contact-section .contact-part-3 a{
    width: 30px;
    height: 30px;
    background-color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#contact-section .contact-github-icon{
    color: var(--dark);
}
#contact-section .contact-linkedin-icon{
    color: var(--linkedin);
}
#contact-section .contact-twitter-icon{
    color: var(--twitter);
}
#contact-section .contact-part-3 a:hover{
    transform: scale(1.4);
    transition: 0.3s;
}

/* footer-seciton */
#footer-section{
    width: 100%;
    height: 50px;
    font-family: 'Ubuntu' , sans-serif;
    color: var(--light);
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
#footer-section .footer-name{
    color: var(--primary);
}





 
 